body {
    background: #e8e7de;
    font-family:  sans-serif;
    background-image: url(./images/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;

  }
  
  .chessboard {
      width: 400px;
      height: 400px;
      border: 5px solid  #cf7d50;
      border-radius: 4px;
      background:hsl(22, 97%, 24%);
  }
  .black {
      float: left;
      width: 80px;
      height: 80px;
      background-color: darkgreen;
     
  }
  .white {
      float: left;
      width: 80px;
      height: 80px;
      background-color: #c0a292;
  }
  footer{
      align-self: flex-end;
      margin:1rem;
    margin-top:30rem;
  }